@model List<BankAccountViewModel>
@{
    ViewBag.Title = "ViewAllHouseholdAccounts";
}



<!-- Page Header -->
<header class="masthead" style="background-image: url('/img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Household Bank Accounts</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            @if (TempData.ContainsKey("userMessage"))
            {
                <div>
                    @TempData["userMessage"].ToString();
                </div>
            }
            <div class="card mb-3">
                <div class="card-header">
                    <table class="table table-striped table-fit" id="dataTable" cellspacing="-10">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Description</th>
                                <th scope="col">Date Created</th>
                                <th scope="col">Date Updated</th>
                                <th scope="col">Balance</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var acc in Model)
                                {
                            <tr>
                                <td>@acc.Name</td>
                                <td>@acc.Description</td>
                                <td>@acc.DateCreated</td>
                                <td>@acc.DateUpdated</td>
                                <td>@acc.Balance</td>
                                <td><a href="@Url.Action("EditBankAccount", "BankAccount", new { id = acc.Id, householdId = acc.HouseholdId })">Edit</a></td>
                                <td><a href="@Url.Action("DeleteBankAccount", "BankAccount", new {id = acc.Id, householdId = acc.HouseholdId})">Delete</a></td>
                            </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>


</div>


