@model List<CategoryViewModel>
@{
    ViewBag.Title = "ViewAllHouseholdCategories";
}


<!-- Page Header -->
<header class="masthead" style="background-image: url('/img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Household Categories</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

            <div class="card mb-3">
                <div class="card-header">
                    <table class="table table-striped table-fit" id="dataTable" cellspacing="-10">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Description</th>
                                <th scope="col">Date Created</th>
                                <th scope="col">Date Updated</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var cat in Model)
                                {
                                    <tr>
                                        <td>@cat.Name</td>
                                        <td>@cat.Description</td>
                                        <td>@cat.DateCreated</td>
                                        <td>@cat.DateUpdated</td>
                                        <td><a href="@Url.Action("EditCategory", "Category", new { id = cat.Id, householdId = cat.HouseholdId })">Edit</a></td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>

            @if (TempData.ContainsKey("viewCategoryError"))
            {
                <div>
                    @TempData["viewCategoryError"].ToString();
                </div>
            }
        </div>
    </div>
</div>














