@model List<TransactionViewModel>
@{
    ViewBag.Title = "ViewBankAccountTransactions";
}


<!-- Page Header -->
<header class="masthead" style="background-image: url('/img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Bank Account Transactions</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            @if (TempData.ContainsKey("userMessage"))
            {
                <div>
                    @TempData["userMessage"].ToString();
                </div>
            }
            <div class="card mb-3">
                <div class="card-header">
                    <table class="table table-striped table-fit" id="dataTable" cellspacing="-10">
                        <thead>
                            <tr>
                                <th scope="col">Title</th>
                                <th scope="col">Description</th>
                                <th scope="col">Date Created</th>
                                <th scope="col">Date Updated</th>
                                <th scope="col">Transaction Date</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Transaction Voided</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var trans in Model)
                                {
                            <tr>
                                <td>@trans.Title</td>
                                <td>@trans.Description</td>
                                <td>@trans.DateCreated</td>
                                <td>@trans.DateUpdated</td>
                                <td>@trans.Date</td>
                                <td>@trans.Amount</td>
                                <td>@trans.VoidTransaction</td>
                                <td><a href="@Url.Action("EditTransaction", "Transaction", new { id = trans.Id, householdId = trans.HouseholdId })">Edit</a></td>
                                <td><a href="@Url.Action("DeleteTransaction", "Transaction", new { id = trans.Id })">Delete</a></td>
                                @if (trans.VoidTransaction == false)
                                {
                                <td><a href="@Url.Action("VoidTransaction", "Transaction", new { id = trans.Id })">Void Transaction</a></td>
                                }
                          
                            </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>


</div>




